# Learn more at http://EditorConfig.org

# Code Formatting
[*.js]
charset = utf-8
indent_style = space
indent_size = 4

# Markdown Formatting
[*.md]
charset = utf-8
indent_style = space
indent_size = 2

# Config Formatting
[{package.json,.eslintrc}]
indent_style = space
indent_size = 2